<style>
#footer{
    color: #8C8C8C;
    display: flex;
    justify-content: space-between;
   
    padding: 18px 344px 18px 344px;
}
</style>
<footer id="footer">

 

<p> © {{ 'now'|date('Y') }} All rights reserved </p>
<p>Privacy Policy</p>
<p>Terms of payment and delivery</p>
<p>Website developed: <span style="color: black">megasite<span>.</p>
</footer>
